.top-image {
    background-image: url('./assets/Organize-Workspace.png');
    height: 790px;
    background-size: cover;
    align-self: center;
}

.container {
    text-align: center;
}

 .navbar {
    position: sticky;
}

/* ABOUT ME SECTION */

.aboutMeSection { 
    display: flex;
    background-color: tan;
    height: 67em;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.aboutMeHead {
    text-align: center;
    color: black;
    padding: 10px;
   
}

.aboutMeText {
     opacity: 75%; 
}

.aboutImg{
    height: 50%;
    border-radius: 10% 10%;
}

.button{
    background-color: transparent;
    border-radius: 10% 10%;
    width: 150px;
    opacity: 50%;
}

.skill-logos {
    margin-top: 15vh;
}

#html-logo {
    height: 10vh;
    border-radius: 30px 30px;
}

#github-logo {
    height: 10vh;
    border-radius: 30px 30px;
}

#bootstrap-logo {
    height: 10vh;
    border-radius: 30px 30px;
}

#firebase-logo{
    height: 10vh;
    width: 70px;
    border-radius: 30px 30px;
}

#CSS-logo{
    height: 10vh;
    width: 70px;
    border-radius: 30px 30px;
}

.resume {
    color: black;
    opacity: 70%;
    text-decoration: underline;
}

/* FORMSPREE */

.contact {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formspree-box {
    background-image: url('./assets/pexels-photo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 640px; 
}

.col{
    height: 140vh;
}

#fs-frm{
    padding: 1em;
    color: white;
}

#fs-frm-inputs{
    flex-direction: column;
    width: min-content;

}

#full-name {
    background-color:tan;
    border-color: tan;
    border-radius: 10px 10px; 
}

#email-address {
    background-color: tan;
    border-color: tan;
    border-radius: 10px 10px; 
}

#message{
    background-color: tan;
    height: 2em;
    border-color: tan;
    border-radius: 10px 10px; 
}

#submitButton {
    background-color: transparent;
    color: tan;
    border-color: tan;
    border-radius: 10px 10px; 
}

.footer {
    background-color: tan;
    height: 80px;
    padding: 2%;
    text-align: center;
    color: white;
}

#footerText {
    opacity: 70%;
}

/* Portfolio section */

.portfolio {
    text-align: center;
    height: 50em;
    background-color: rgb(167, 149, 123);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnails {
    margin-top: 90px;
}

.cssCreature {
    border: solid grey;
    border-radius: 20px 20px;
    height: 30vh;
    width: 50vh;
}

.catFact {
    border: solid grey;
    border-radius: 20px 20px;
    height: 30vh;
    width: 50vh; 
}

.staticLayout {
    border: solid grey;
    border-radius: 20px 20px;
    height: 30vh;
    width: 50vh; 
}


.whale{
    height: 30vh;
}

.gif {
    border: solid grey;
    border-radius: 20px 20px;
    height: 30vh;
    width: 50vh;
}

.container-sm {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2.5%;
    
}
